<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" ng-model="vm.cliente.nome" placeholder="Nome do Cliente">
        </div>
        <div class="form-group">
            <label for="rg">RG</label>
            <input type="text" class="form-control" id="rg" ng-model="vm.cliente.rg" placeholder="Rg do Cliente">
        </div>
    </form>
    <button type="button" class="btn btn-primary" ng-click="vm.cadastrar()">{{vm.textoBotao}}</button>
    <button type="button" class="btn btn-secondary" ng-click="vm.limpar()">Limpar</button>
</div>